.metadata/
bin/
libs/
material/
/capgemini/logica-de-programacao-e-algoritmos-iii/codes/NetBeansProjects/PrimeiraInterfaceGrafica/.gradle/
/capgemini/logica-de-programacao-e-algoritmos-iii/codes/NetBeansProjects/PrimeiraInterfaceGrafica/build/
/capgemini/logica-de-programacao-e-algoritmos-iii/codes/NetBeansProjects/ExercicioTODO/.gradle/
/capgemini/logica-de-programacao-e-algoritmos-iii/codes/NetBeansProjects/ExercicioTODO/build/
miscelania/
/capgemini/logica-de-programacao-e-algoritmos-iii/codes/NetBeansProjects/Ex02/.gradle/
/capgemini/logica-de-programacao-e-algoritmos-iii/codes/NetBeansProjects/todoApp/.gradle/
/capgemini/logica-de-programacao-e-algoritmos-iii/codes/NetBeansProjects/todoApp/build/
