[submodule "spring-boot-3-documente-teste-e-prepare-uma-api-para-o-deploy"]
	path = spring-boot-3-documente-teste-e-prepare-uma-api-para-o-deploy
	url = git@github.com:lucianodacunha/spring-boot-3-documente-teste-e-prepare-uma-api-para-o-deploy.git
[submodule "java-persistencia-de-dados-e-consultas-com-spring-data-jpa"]
	path = java-persistencia-de-dados-e-consultas-com-spring-data-jpa
	url = git@github.com:lucianodacunha/java-persistencia-de-dados-e-consultas-com-spring-data-jpa.git
[submodule "spring-mvc-autenticacao-com-spring-security-api-rest-e-ajax"]
	path = spring-mvc-autenticacao-com-spring-security-api-rest-e-ajax
	url = git@github.com:lucianodacunha/spring-mvc-autenticacao-com-spring-security-api-rest-e-ajax.git
[submodule "certificacao-java"]
	path = certificacao-java
	url = git@github.com:lucianodacunha/certificacao-java.git
[submodule "boas-praticas-de-programacao-automatizando-testes-com-java"]
	path = boas-praticas-de-programacao-automatizando-testes-com-java
	url = git@github.com:lucianodacunha/boas-praticas-de-programacao-automatizando-testes-com-java.git
[submodule "boas-praticas-de-programacao-melhore-o-codigo-de-uma-api-java"]
	path = boas-praticas-de-programacao-melhore-o-codigo-de-uma-api-java
	url = git@github.com:lucianodacunha/boas-praticas-de-programacao-melhore-o-codigo-de-uma-api-java.git
