// variáveis
@azul: blue;
@vermelho: red;
@verde: green;
@amarelo: brown;

// functions
@selectors: principal, secundaria;

each(@selectors, {
    .secao-@{value} h2 {
        color: @amarelo;
    }
});

h1 {
    color: @vermelho;
}

// hierarquias
.secao-principal {
    .paragrafo {
        color: @verde;
    }
}

.secao-secundaria {
    .paragrafo {
        color: @azul;
    }
}

// mixins 
.div-um {
    .configuracao-das-divs();
}

.div-dois {
    .configuracao-das-divs();
}

.configuracao-das-divs{
    padding: 5px 5px;
    background-color: darkkhaki;
    color: darkgreen;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}

// condicionais

.last {
    .cond('s');
}

.cond(@char){
    & when(@char = 's'){
        color: @vermelho;
    }
}

// operadores matemáticos

@tamanho_da_font: 1.5rem;
.last2 {
    font-size: @tamanho_da_font * 1.1;
}